.first {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
}

.flexbox {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    background: blue;
    width: 80%;
}

button  {
    background: red;
    padding: 40px 40px;
    border-radius: 10%;
    border: none;
    color: white;
    font-weight: 600;
    margin: 0 10%;
    
}

button:hover, button:focus {
    background-color: #4CAF50; /* Green */
}